.class {
    background-color: black;
}

h1 {

    color: darkgreen;
    margin: 100px;
    text-align: center;
}

#main {
    text-emphasis: bold;
    color: chartreuse;
    text-align: center;
}



div {
    text-align: center;
}

ol {
    text-align: center;
    text-decoration: purple;
    text-size-adjust: 18px;
}

text {
    padding-left: 200px;
}

