h1 {

    color: darkgreen;
    text-align: center;
}

main {
    text-emphasis: bold;
    color: chartreuse;
}

body {
    background-color: black;
    margin: 70px;
    padding-left: 200px;
}

img {
    align-items: center;
}

footer {
    color: darkgreen;
    text-align: center;
}